@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-family: 'Space Mono', monospace;
    --track: #181818;
    --thumb: #E8F6FB;
    --thumb-hover: #A7D7F2;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--track);
}

::-webkit-scrollbar-thumb {
    background: var(--thumb);
    border-radius: 999px;
    min-height: 30px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--thumb-hover);
}

* {
    scrollbar-color: var(--thumb) var(--track);
    scrollbar-width: thin;
}


body {
    background-color: #181818;
}

main {
    max-width: 800px;
    min-height: 90vh;
    margin: 0 auto;
    padding: 20px;
    padding-inline: 50px;
    
    /*
    background: #2A2D31;
    box-shadow: 0 0 10px #6BAED1;
    border-radius: 10px;
    */
}

p, span, a, b, i, strong, s, small, sub, sup, h1, h2, h3, h4, h5, h6 {
    color: #E8F6FB;
    overflow-wrap: break-word
}

a {
    text-decoration-line: none;
    color: #93C7E2;
}

a:hover {
    color: #A7D7F2;
    text-shadow: 0 0px 10px #A7D7F2;
    transition: all 0.3s ease;
}

p {
    font-size: 1.05em;
    line-height: 1.5;
}

h1 a {
    color: #E8F6FB; 
}

h1 {
    text-align: center;
    margin-top: 5%;
    font-size: 3em;
    text-decoration: underline wavy 2px;
    text-underline-offset: 5px;
}

h2 {
    font-size: 2em;
    margin-bottom: 0px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

ol {
    list-style: decimal;
    gap: 10px;
}

li {
    color: #E8F6FB;
    font-size: 1.1em;
    margin-right: 0;
    transition: 0.3s ease;
}

li:hover {
    transform: translateX(10px);
}

footer {
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    font-size: 0.86em;
    gap: 5px;
}

.info,
.important,
.warning {
    padding-left: 15px;
    border-left: 3px solid;
    border-radius: 5px;
    margin-bottom: 1em;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 15px;
}

.info { border-color: #f9e076; background: rgba(249, 224, 118, 0.1); }
.important { border-color: #FF6B6B; background: rgba(255, 107, 107, 0.1); }
.warning { border-color: #a45ee5; background: rgba(164, 94, 229, 0.1); }